.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $black;
  color: $white;
  padding: 10px 20px;
  z-index: 99;

  nav.nav-primary {
    padding: 0 20px;
  }

  .nav {
    background-color: transparent;
    justify-content: flex-end;

    & > li{
      padding: 2.1rem 0.75rem;
    }

    li {
      @extend .nav-item;

      border-bottom: solid transparent 5px;

      a {
        &:not(.button) {
          color: $white;

          &:hover {
            color: inherit;
          }
        }
      }

      &.menu-item-has-children {
        ul.sub-menu {
          display: none;
          position: absolute;
          top: 71px;
          text-align: left;
          z-index: -1;

          &::before {
            content: '';
            width: 100%;
            height: 100%;
            opacity: .9;
            position: absolute;
            transform: scaleX(1000);
            left: 0;
            top: 0;
            z-index: -1;
          }

          li {
            border-bottom: 0;

            &:hover {
              border-bottom: 0;
            }
          }
        }

        &:hover {
          ul.sub-menu {
            display: block;
          }
        }
      }

      &:nth-child(1) {
        &:hover {
          border-bottom-color: $blue;
        }

        &.menu-item-has-children {
          ul.sub-menu {
            &::before{
              background: $blue;
            }
          }
        }
      }

      &:nth-child(2) {
        &:hover {
          border-bottom-color: $red;
        }

        &.menu-item-has-children {
          ul.sub-menu {
            &::before{
              background: $red;
            }
          }
        }
      }

      &:nth-child(3) {
        &:hover {
          border-bottom-color: $orange;
        }

        &.menu-item-has-children {
          ul.sub-menu {
            &::before{
              background: $orange;
            }
          }
        }
      }

      &:nth-child(4) {
        &:hover {
          border-bottom-color: $purple;
        }

        &.menu-item-has-children {
          ul.sub-menu {
            &::before{
              background: $purple;
            }
          }
        }
      }

      &:nth-child(5) {
        &:hover {
          border-bottom-color: $cyan;
        }

        &.menu-item-has-children {
          ul.sub-menu {
            &::before{
              background: $cyan;
            }
          }
        }
      }

      &:nth-child(6) {
        &:hover {
          border-bottom-color: $blue;
        }

        &.menu-item-has-children {
          ul.sub-menu {
            &::before{
              background: $blue;
            }
          }
        }
      }

      &:nth-child(7) {
        &:hover {
          border-bottom-color: $red;
        }

        &.menu-item-has-children {
          ul.sub-menu {
            &::before{
              background: $red;
            }
          }
        }
      }
    }
  }
}

.page-header{ 
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

