.sidebar{
    background: $blue;
    color: $white;
    h3,
    h4,
    strong,
    a{
        color: $white;
    }
    h3{
        margin-top: 20px;
    }
    padding: 50px;
    .menu{
        li{
            list-style: none;
            font-size: 1.2em;
            margin-bottom: 1em;
            &.current-menu-item a{
                color: $yellow;
            }
        }
        a{
            color: $white;
            &:hover{
                color: $yellow;
            }
        }
    }
    ul{
        margin-bottom: 20px;
    }
    .button{
        &.search-submit{
            margin-top: 0;
            margin-left: 10px;
        }
    }
}

/////////////////////////////////
//// ADMISSIONS
/////////////////////////////////
.admissions{
    .sidebar{
        color: $black;
        h3,
        h4,
        strong,
        a{
            color: $black;
        }
        background: transparent;
        padding: 0;
        & > div{
            background-color: $lightgrey;
            padding: 50px;
        }
        .button{
            background-color: $blue;
            color: $white;
        }
    }
}

/////////////////////////////////
//// Resources
/////////////////////////////////

.resources{
    .sidebar{
      background-color: $cyan;
    }
  }

@media only screen and (min-width: 600px) {
    .sidebar{
        min-height: 100vh;
    }
}