html,
body {
  background-color: $black;
  font-family: 'ApercuProRegular', sans-serif;
}

.content{
  background-color: $white;
  h1,
  h1:not(:first-child) {
    margin-top: 0;
  }
  h2{
    &:first-of-type{
      margin-top: 0;
    }
  }
  h4{
    color: $blue;
    margin-bottom: 0;
  }
  h5{
    font-weight: .9em;
  }
  h6{
    color: $blue;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  .column{
    padding-bottom: 0;
  }
}


a.button{
  font-weight: 600;
  padding: 20px;
  border-radius: 20px;
  &.is-outlined {
    background-color: transparent;
    border-radius: 20px;
    border-width: 2px;
    letter-spacing: .05em;
    &:hover{
      background-color: $white;
      color: $blue;
    }
  }
}

a.button.is-inverted {
  color: $white;
  border-color: $white;
}

.has-vertically-aligned-content {
  display: flex;
  align-items: center;
}


//fonts

@font-face {
  font-family: 'ApercuProRegular';
  font-display: auto;
  src: url('../fonts/ApercuPro.eot?#iefix') format('embedded-opentype'),  url('../fonts/ApercuPro.otf')  format('opentype'),
	     url('../fonts/ApercuPro.woff') format('woff'), url('../fonts/ApercuPro.ttf')  format('truetype'), url('../fonts/ApercuPro.svg#ApercuPro') format('svg');
  font-weight: normal;
  font-style: normal;
}




//Wordpress Admin Bar
.admin-bar{
  header.banner{
    margin-top: 32px;
  }
}
